.footer-section {
  height: 170px;

  .content-wrapper {
    margin-left: 24%;
    margin-right: 20%;
  }

  .right-section img {
    width: 20px;
    height: 20px;
  }

  .left-section a {
    padding-left: 20px;
  }

  .TG-icon {
    width: 30px;
    height: 55px;
    margin-right: 50px;
  }
}
