@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url("../fonts/RadomirTinkov-Gilroy-Regular.otf") format("opentype");
}

@font-face {
  font-family: GilroyBold;
  font-weight: bold;
  src: url("../fonts/RadomirTinkov-Gilroy-Bold.otf") format("opentype");
}

@font-face {
  font-family: GilroyStrong;
  font-weight: 550;
  src: url("../fonts/RadomirTinkov-Gilroy-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: GilroyBolder;
  font-weight: bolder;
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}
